{{>head}}

{{>navbarpages}}


<div class="card-deck mx-3 my-3 p-6">
    <div class="card h-100" style="width: 18rem; height: 18rem">
        <img src="images/face-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Lionel "Lonchi" Daglio</h5>
            <p class="card-text">Dice que le gusta el front-end, pero me parece que no tiene ni idea, pero bueno, creemos igual en él, vamos Lonchi!</p>
            <a href="#" class="btn btn-primary">No se su red social</a>
        </div>
    </div>
    <div class="card h-100" style="width: 18rem; height: 18rem">
        <img src="images/face-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Nazareno E. Sotto</h5>
            <p class="card-text">No sabe si dedicarse a front-end, back-end, o a vender en una verdulería. Igual sabe inglés, veremos si le sirve.</p>
            <a href="https://www.facebook.com/NazaSotto/" class="btn btn-primary">Facebook</a>
        </div>
    </div>
    <div class="card h-100" style="width: 18rem; height: 18rem">
        <img src="images/face-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title mt-12">Bruno "Corren" H. Castillo</h5>
            <p class="card-text">Se dice que habla una variación del español, aunque no estamos seguro si se le entiende. Aprobó inglés espoileando Games of Thrones</p>
            <a href="https://www.facebook.com/brunxip" class="btn btn-primary">Facebook</a>
        </div>
    </div>
        <div class="card h-100" style="width: 18rem; height: 18rem">
        <img src="images/face-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Francisco "Flaco" Albornoz</h5>
            <p class="card-text">Está laburando, aunque no entendimos bien de qué, pero es crack el pibe, de eso no hay duda.</p>
            <a href="https://www.facebook.com/franalbornozz14" class="btn btn-primary">Facebook</a>
        </div>
    </div>
</div>


{{>footer}}