{{>head}}

{{>navbarblog}}

<div class="container-fluid mx-auto">
    <div class="card mx-auto mt-4" style="width: 70rem;">
        <div class="hovereffect">
            <img class="card-img-top" src="images/post-7.jpg" class="img-thumbnail" alt="Card image cap">
            <div class="overlay">
                <h2>Ultimo post</h2>
                <a class="info" href="#">Leer más</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Ultimo post</h5>
            <p class="card-text">Un ejemplo de un post realizado en el blog. Esta publicación puede solo describir el
                inicio del post completo, el cual se indica que se puede seguir leyendo [...]</p>
            <a href="" class="card-link">Ver 7 comentarios</a>
            <a href="" class="card-link">Leer más</a>
        </div>
    </div>

    <div class="card mx-auto mt-4" style="width: 70rem;">
        <div class="hovereffect">
            <img class="card-img-top" src="images/post-4.jpg" class="img-thumbnail" alt="Card image cap">
            <div class="overlay">
                <h2>Ante Último post</h2>
                <a class="info" href="#">Leer más</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Ante Último post</h5>
            <p class="card-text">Otro ejemplo de un post realizado en el blog. Esta publicación puede solo describir el
                inicio del post completo, el cual se indica que se puede seguir leyendo [...]</p>
            <a href="" class="card-link">Ver 12 comentarios</a>
            <a href="" class="card-link">Leer más</a>
        </div>
    </div>

    <div class="card mx-auto mt-4" style="width: 70rem;">
        <div class="hovereffect">
            <img class="card-img-top" src="images/post-6.jpg" class="img-thumbnail" alt="Card image cap">
            <div class="overlay">
                <h2>Primer Post</h2>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Primer post</h5>
            <p class="card-text">Un ejemplo de un post realizado en el blog. En este caso no se puede leer más</p>
            <a href="" class="card-link">Ver 4 comentarios</a>
        </div>
    </div>



</div>

{{>footer}}