{{>head}}

{{>navbarhome}}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="images/Proyecto-1.jpg" class="img-thumbnail" alt="">
                <div class="overlay">
                    <h2>Protector para tablet</h2>
                    <a class="info" href="/portfolio">Ver aquí</a>
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="images/Proyecto-2.jpg" class="img-thumbnail" alt="">
                <div class="overlay">
                    <h2>Notepad</h2>
                    <a class="info" href="/portfolio">Ver aquí</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="images/Proyecto-3.jpg" class="img-thumbnail" alt="">
                <div class="overlay">
                    <h2>Marcador</h2>
                    <a class="info" href="/portfolio">Ver aquí</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
            <div class="hovereffect">
                <img class="img-responsive" src="images/Proyecto-4.jpg" class="img-thumbnail" alt="">
                <div class="overlay">
                    <h2>Aplicacion Android</h2>
                    <a class="info" href="/portfolio">Ver aquí</a>
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="images/Proyecto-5.jpg" class="img-thumbnail" alt="">
                <div class="overlay">
                    <h2>Etiquetas</h2>
                    <a class="info" href="/portfolio">Ver aquí</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="images/Proyecto-6.jpg" class="img-thumbnail" alt="">
                <div class="overlay">
                    <h2>Musculosa</h2>
                    <a class="info" href="/portfolio">Ver aquí</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}