{{>head}}

{{>navbarportfolio}}
<div class="container-fluid mx-auto">
  <div class="card text-center bg-light">
    <img src="/images/post-2.jpg" class="card-img-top rounded portada mx-auto" alt="...">
    <div class="card-body">
      <h5 class="card-title centered" Style="font-size:32px">Producto 1</h5>
      <p class="card-text">Esta página es un ejemplo de una página que describiría un producto</p>
      <div class="container-fluid mx-auto" Style="Width:100%;">
        <div class="row justify-content-center">
          <img src="/images/Proyecto-1.jpg" class="rounded float-left border muestra" Style="margin-right:40px"
            alt="...">
          <p class="text-justify my-auto" Style="Width:40rem; font-size:20px; text-align:left;">Cabe aclarar que cada
            producto tendría su propia página, pero en esta iteración
            todos los productos llevarán a esta página. Durante la misma se describiría el producto y se mostrarían
            imagenes, en un cuadro de texto como este.
          </p>
        </div>
        <div class="row justify-content-center">
          <p class="text-justify my-auto" Style="Width:40rem; font-size:20px; text-align:left;">Aquí podría seguir la
            descripción del producto,
            alternando entre imagen a la izquierda - texto a la derecha, e imagen a la derecha - texto a la izquierda.
          </p>
          <img src="/images/inner-1.jpg" class="rounded float-right border muestra" Style="margin-left:20px" alt="...">
        </div>
        <img src="/images/subportada.jpg" class="rounded border card-img-top portada mx-auto" alt="...">
        <div class="row justify-content-center">
          <img src="/images/Muestra-1.jpg" class="rounded float-left border muestra" Style="margin-right:80px"
            alt="...">
          <div class="card" style="width: 18rem;">
            <div class="card-header font-weight-bold text-white bg-dark">
              Características
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Material externo: Cuero o plástico</li>
              <li class="list-group-item">Tamaño: x mm* y mm</li>
              <li class="list-group-item">Colores: Negro, rojo, azul, blanco</li>
              <li class="list-group-item">Material interno: Plástico</li>
              <li class="list-group-item">Modelo: Smart Case</li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
{{>footer}}